        @font-face {
        font-family: bangers;
        src: url(../fonts/Bangers-Regular.ttf);
    }
    
    :root {
        font-size: 16px;
    }
    
    body {
        user-select: none;
    }
    
    div#container {
        display: grid;
        grid-template-columns: 100% !important;
    }
    
    header {
        width: 100%;
        background-color: #69385c;
        height: 40px;
        border-bottom: #b3dec1 solid 4px;
    }
    
    header div#header-area {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
        float: right;
    }
    
    header div#header-area ul li a .svg-inline--fa.fa-fw {
        color: white;
    }
    
    header div#header-area ul li a .svg-inline--fa.fa-fw:hover {
        color: rgba(255, 255, 255, 0.6);
    }
    
    div#language-section {
        display: flex;
        justify-content: right;
        padding: 10px;
        width: 100%;
        height: 48px;
    }
    
    div#language-section a.option-language img {
        vertical-align: sub;
    }
    
    div#language-section span {
        font-weight: bold;
        color: #210124;
    }
    
    div#language-section a.option-language {
        text-decoration: none;
        font-weight: 500;
        padding: 10px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border: 2px dotted #fefffe;
    }
    
    div#language-section a.option-language:hover,
    div#language-section a.option-language:active,
    div#language-section a.option-language:focus {
        border: 2px dotted #69385c;
        background-color: rgba(179, 222, 193, 0.3);
    }
    
    main {
        width: 100%;
        background-color: #fefffe;
        height: calc(513px - 40px);
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 30px;
    }
    
    main section#main-section {
        text-align: center;
        width: auto;
        height: 300px;
        font-weight: bold;
        font-size: 1rem !important;
    }
    
    main section#main-section form {
        text-align: left;
        margin-top: 40px;
    }
    
    main section#main-section form button {
        margin-top: 20px !important;
        text-align: center;
        display: block;
        margin: auto;
        padding: 15px;
        border-radius: 10px;
        /* outline: none; */
        border: 4px solid #83998a;
        background-color: #658d73;
        color: rgb(254, 255, 254);
        font-weight: bold;
    }
    
    main section#main-section form button:hover {
        background-color: rgba(101, 141, 115, 0.8);
        border: 4px solid #658d73;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
    }
    
    main section#main-section form label {
        font-weight: normal;
        padding: 5px;
    }
    
    main section#main-section label.special-label {
        font-weight: bold;
    }
    
    main section#main-section input,
    main section#main-section select {
        padding: 10px;
        margin-top: 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        border: 2px dotted #69385c;
    }
    
    main section#main-section select {
        background-color: rgba(179, 222, 193, 0.3);
        font-weight: bold;
    }
    
    main section#main-section option {
        background-color: rgb(254, 255, 254);
    }
    
    form div.form-item {
        margin-top: 5px;
    }
    
    main section#main-section input[type="number"] {
        width: 150px;
    }
    
    main section#main-section input[type="radio"] {
        padding: 0;
        -webkit-appearance: none !important;
        width: 20px !important;
        height: 20px !important;
        border-radius: 50% !important;
        outline: none !important;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        -ms-border-radius: 50% !important;
        -o-border-radius: 50% !important;
        -webkit-border-radius: 50% !important;
    }
    
    input[type='radio']:before {
        content: '' !important;
        display: block;
        justify-content: center;
        align-items: center;
        width: 60% !important;
        height: 60% !important;
        margin: 20% auto !important;
        border-radius: 50% !important;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        -ms-border-radius: 50% !important;
        -o-border-radius: 50% !important;
    }
    
    input[type='radio']:checked:before {
        background: #69385c;
    }
    
    main section#main-section input[type="radio"]:hover {
        box-shadow: inset 0 0 5px 0px rgba(101, 141, 115, 0.8);
    }
    
    span.span-required {
        color: crimson;
        display: none;
    }
    
    div.modal-content {
        display: flex;
        justify-content: center;
    }
    
    div.modal-content p {
        font-size: 1.5rem !important;
        font-weight: bold;
        color: #ff92a7;
    }
    
    button.btn.btn-primary.bootbox-accept {
        background-color: #ff92a7;
        border: #ff92a7 2px solid;
        box-shadow: none !important;
        font-weight: bold;
        text-transform: capitalize !important;
    }
    
    button.btn.btn-primary.bootbox-accept:focus,
    button.btn.btn-primary.bootbox-accept:active {
        background-color: rgba(255, 146, 168, 0.6);
        border: 2px solid rgba(255, 146, 168, 0.6);
        outline: none;
    }
    
    button.bootbox-close-button.close {
        background-color: #ff92a7 !important;
        border: #ff92a7 2px solid !important;
    }
    
    div.modal-footer,
    div.modal-body,
    div.modal-content,
    div.modal-header {
        border: none !important;
        background-color: #787486bb;
        border: none;
        text-align: center;
        border-radius: none;
        -webkit-border-radius: none;
        -moz-border-radius: none;
        -ms-border-radius: none;
        -o-border-radius: none;
    }
    
    div.modal-content {
        border: #69385c 3px solid !important;
    }
    
    main h1 {
        font-family: Bangers, sans-serif;
        font-size: 2.5rem;
        color: #210124 !important;
        letter-spacing: 5px;
    }
    
    footer {
        width: 100%;
        height: 40px;
        background-color: #444054;
        border-top: #b3dec1 solid 4px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
    }
    
    footer p {
        color: #fefffe;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    
    footer p a {
        text-decoration: none;
        color: bisque;
    }
    
    footer p a:hover {
        color: rgba(255, 228, 196, 0.8);
    }
    /* Extra small devices (phones, 600px and down) */
    
    @media only screen and (max-width: 600px) {
        main {
            height: calc(438px - 40px) !important;
        }
    }
    
    @media only screen and (min-width: 320px) {
        main {
            height: calc(437px - 40px) !important;
        }
        main h1 {
            font-size: 2rem !important;
            letter-spacing: 2.5px;
        }
        label,
        input,
        button,
        select,
        span,
        .option-language {
            font-size: 1rem !important;
        }
        input[type="radio"] {
            width: 15px;
            height: 15px;
        }
        option {
            font-size: 1rem !important;
        }
        footer {
            height: 50px !important;
            border-top: #b3dec1 solid 16px !important;
        }
        header {
            height: 50px !important;
            border-bottom: #b3dec1 solid 16px !important;
        }
        .svg-inline--fa.fa-fw {
            font-size: 2rem;
        }
        footer p {
            font-size: 1rem !important;
        }
        form div.form-item {
            margin-top: 0px !important;
        }
        main section#main-section input[type="number"] {
            width: 55px !important;
        }
        main section#main-section form button {
            margin-top: 0px !important;
        }
        main section#main-section form {
            text-align: left;
            margin-top: 8px !important;
        }
        main section#main-section input,
        main section#main-section select {
            padding: 5px;
            margin-top: 5px;
        }
        @media only screen and (min-width: 375px) {
            main {
                height: calc(437px - 40px) !important;
            }
            main h1 {
                font-size: 2rem !important;
                letter-spacing: 2.5px;
            }
            label,
            input,
            button,
            select,
            span,
            .option-language {
                font-size: 1rem !important;
            }
            input[type="radio"] {
                width: 20px;
                height: 20px;
            }
            option {
                font-size: 1rem !important;
            }
            footer {
                height: 50px !important;
                border-top: #b3dec1 solid 16px !important;
            }
            header {
                height: 50px !important;
                border-bottom: #b3dec1 solid 16px !important;
            }
            .svg-inline--fa.fa-fw {
                font-size: 2rem;
            }
            footer p {
                font-size: 1rem !important;
            }
            form div.form-item {
                margin-top: 0px !important;
            }
            main section#main-section input[type="number"] {
                width: 75px !important;
            }
            main section#main-section form button {
                margin-top: 0px !important;
            }
            main section#main-section form {
                text-align: left;
                margin-top: 8px !important;
            }
        }
        @media only screen and (min-width: 425px) {
            main {
                height: calc(437px - 40px) !important;
            }
            main h1 {
                font-size: 2rem !important;
                letter-spacing: 2.5px;
            }
            label,
            input,
            button,
            select,
            span,
            .option-language {
                font-size: 1rem !important;
            }
            input[type="radio"] {
                width: 20px;
                height: 20px;
            }
            option {
                font-size: 1rem !important;
            }
            footer {
                height: 50px !important;
                border-top: #b3dec1 solid 16px !important;
            }
            header {
                height: 50px !important;
                border-bottom: #b3dec1 solid 16px !important;
            }
            .svg-inline--fa.fa-fw {
                font-size: 2rem;
            }
            footer p {
                font-size: 1rem !important;
            }
            form div.form-item {
                margin-top: 13px !important;
            }
            main section#main-section input[type="number"] {
                width: 118px !important;
            }
            main section#main-section form button {
                margin-top: 0px !important;
            }
            main section#main-section form {
                text-align: left;
                margin-top: 15px !important;
            }
        }
        @media only screen and (min-width: 768px) {
            main {
                height: calc(437px - 40px) !important;
            }
        }
        @media only screen and (min-width: 1024px) {
            main {
                height: calc(513px - 40px) !important;
            }
        }
        @media only screen and (min-width: 1440px) {
            main {
                height: calc(557px - 40px) !important;
            }
        }
        @media only screen and (min-width: 2560px) {
            main {
                height: calc(1021px - 40px) !important;
            }
            main h1 {
                font-size: 5rem !important;
                letter-spacing: 5px;
            }
            label,
            input,
            button,
            select,
            span,
            .option-language {
                font-size: 2.5rem !important;
            }
            input[type="radio"] {
                width: 40px;
                height: 40px;
            }
            div#language-section {
                height: 60px;
            }
            div#language-section a.option-language img {
                height: 50px;
            }
            option {
                font-size: 1rem !important;
            }
            footer {
                height: 100px !important;
                border-top: #b3dec1 solid 16px !important;
            }
            header {
                height: 100px !important;
                border-bottom: #b3dec1 solid 16px !important;
            }
            .svg-inline--fa.fa-fw {
                font-size: 5rem;
            }
            footer p {
                font-size: 2.5rem !important;
            }
            form div.form-item {
                margin-top: 40px !important;
            }
            main section#main-section input[type="number"] {
                width: 264px !important;
            }
            main section#main-section form button {
                margin-top: 40px !important;
            }
        }